.glasspane-wrapper {
  background: rgba(255, 255, 255, 0.14);
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-border-opacity: 1;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.4px);
  -webkit-backdrop-filter: blur(1.4px);
  border: 1px solid rgba(255, 255, 255, 1);
}
