#modal button {
  background-color: white;
  padding: 5px 25px;
  color: black;
  font-size: 18px;
  border: #333 1px solid;
  border-radius: 5px;
  margin: 0 auto;
}

#modal {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal > div {
  max-width: 500px;
  padding: 15px;
  text-align: center;
  border-radius: 30px;
  background: #1887fc;
}

#modal:empty {
  display: none;
}
