.orderdetails {
  width: 95%;
  height: 95%;
  padding-left: 2%;
  background-color: #1887fc;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.orderdetails-header {
  text-align: center;
}

.orderdetails-header > h2 {
  font-size: xx-large;
  line-height: 36px;
}

.orderdetails-body {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.orderdetails-field {
  display: flex;
  flex-direction: row;
  gap: 10%;
  align-items: flex-start;
}

.orderdetails-field-title {
  font-weight: bold;
  font-size: large;
}

.orderdetails-users {
  display: flex;
  flex-direction: column;
}

.orderdetails-user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 7px;
}

.orderdetails-user-name:hover + .orderdetails-user-email {
  display: block;
}

.orderdetails-user-email {
  display: none;
}
