.input {
  border-style: solid;
  border-width: 2px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: large;
  line-height: 28px;
  border-radius: 24px;
  width: 85%;
}
