.ordersskeleton-wrapper {
  width: 33.333333%;
  padding: 12px;
}

.ordersskeleton-wrapper > div > span {
  height: 8px;
  background-color: gray;
  border-radius: 4px;
  grid-column: span 2 / span 2;
}
